<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="content">
        <h1>👤 Gestión de Usuarios</h1>
        
        <form th:action="@{/usuario/agregar}" method="post" th:object="${nuevoUsuario}">
            <h3>Agregar Nuevo Usuario:</h3>
            <input type="text" th:field="*{nombre}" placeholder="Nombre Completo" required>
            <input type="text" th:field="*{correo}" placeholder="Correo" required>
            <input type="text" th:field="*{rol}" placeholder="Rol" required>
            <input type="submit" value="Guardar Usuario">
        </form>

        <hr>

        <h2>Lista de Usuarios</h2>
        <table>
            <tbody>
                <tr th:each="user : ${listaUsuarios}"> 
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.nombre}"></td>
                    <td th:text="${user.correo}"></td>
                    <td th:text="${user.rol}"></td>
                    <td>
                        <a th:href="@{/usuario/editar/{id}(id=${user.id})}">Editar</a> 
                        | <a th:href="@{/usuario/eliminar/{id}(id=${user.id})}" style="color: red;">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>